<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Recommendation Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="mim">


<div class="metanav u-full-width">
    <div class="u-pull-left">
        <h1>Recommendation Engine</h1>
    </div>
    <div class="u-pull-right">
    {% if not session.logged_in %}
        <a class="button button-primary" href="{{ url_for('register') }}">Register New User</a>
        |
        <a class="button" href="{{ url_for('login') }}">Log In</a>
    {% else %}
        <a class="button" href="{{ url_for('index') }}">Home</a> |
        <a class="button" href="{{ url_for('logout') }}">{{ session["name"] }}, Log Out</a>
    {% endif %}
    </div>
</div>

    {% for message in get_flashed_messages() %}
        <div class="container flash fade">
            <div class="row">
                <div class="two-thirds columns">{{ message }}</div>
            </div>
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

</body>
</html>