{% extends "base.html" %}

{% block body %}

<form action="/record" method="post">
    <div id="main-content" class="container">

        <div class="row">
            <div id="recommendation-container" class="two-thirds columns">
                <div class="snug">
                    <h2>Hey <span class="name">{{ name }}</span>,</h2>
                    <p>I thought you might be interested in this
                        <a href="{{ rec.url }}" target="_blank"><span
                                id="content-type">{{ rec.content_type }}</span></a>
                        on "Educational Technology" I found...
                    </p>
                </div>
                <div id="content-container">
                    <input type="hidden" value="{{ rec.url }}" name="url">
                    <input type="hidden" value="{{ rec.content_type }}" name="type">
                    <input type="hidden" value="{{ rec.id }}" name="id">
                    <input type="hidden" value="{{ rec.title }}" name="title">
                    <div>
                        <h3>
                            <span class="duration">{{ rec.duration }}</span>
                            <a href="{{ rec.url }}" target="_blank">
                                <span id="title">{{ rec.title }}</span>
                            </a>
                        </h3>
                    </div>
                    {% if rec.content_type == "paper" %}
                    <p class="author">Published By - {{ rec.author }}</p>
                    <a href="{{ rec.url }}" target="_blank">
                        <i class="fa fa-5x fa-book fa-pull-left fa-border" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <div id="thumbnail-container">
                        <a id="video-thumbnail-link" href="{{ rec.url }}" target="_blank">
                            <img class="u-max-full-width" id="thumbnail" src="{{ rec.thumbnail_url }}"
                                 height="{{ rec.thumbnail_height }}"
                                 width="{{ rec.thumbnail_width }}">
                            <i class="fa fa-5x fa-play-circle" id="video-play-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                    <p><span class="author">By - <a href="{{ rec.author_url }}" target="_blank">{{ rec.author }}</a></span></p>
                    {% endif %}
                    <div id="description-container">
                        <p class="keep-whitespace">{{ rec.description }}</p>
                    </div>
                    <div id="button-container">
                        <button type="submit" name="opinion" value=0 class="{{ classes.uninteresting }}"><i
                                class="fa fa-lg fa-thumbs-down" aria-hidden="true"></i> Ehh... Not great
                        </button>
                        <button type="submit" name="opinion" value=1 class="u-pull-right {{ classes.interesting }}"><i
                                class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i> That was interesting!
                        </button>
                    </div>
                </div>
            </div>
            <!--
            <div class="one-third column">
                <textarea cols="200"></textarea>
            </div>
            -->
        </div>
        <div class="row">
            {% with tokens = get_flashed_messages(category_filter=["token"]) %}
                {% if tokens %}
                    {%- for token in tokens %}
                        <div class="two-thirds columns flash">Random Token: {{ token }}</div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <div id="reroll-container" class="two-thirds columns">
                <button type="submit" name="opinion" value="None" class="u-full-width {{ classes.next }}">
                    <i class="fa fa-lg fa-random" aria-hidden="true"></i>
                    Give me another!
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}