{% block body %}

<body>
	<div class = "container">
		<h4>Sign up!</h4>
		<form method=post action="/register/">
            <fieldset>
                <legend>Profile</legend>
                <label>Name</label>
                <div><input type="text" name="name"></div>
                <label>Gender</label>
                <div>
                    <label><input type="radio" name="gender" value="male"> Male</label>
                    <label><input type="radio" name="gender" value="female"> Female</label>
                    <label><input type="radio" name="gender" value="other"> Other</label>
                    <label><input type="radio" name="gender" value="unknown" checked> Rather not say</label>
                </div>
                <label>Age</label>
                <div>
                    <input type="number" name="age"> (optional)
                </div>
            </fieldset>
            <fieldset>
                <legend>Account</legend>
                <label>Email (username)</label>
                <div><input type="email" name="email" required></div>
                <label>Password</label>
                <div><input type="password" name="password" required></div>
                <label>Confirm Password</label>
                <div><input type="password" name="confirm" required></div>
            </fieldset>
            <fieldset>
                <legend>Terms of Service</legend>
                <p>This app is a tool that pulls in data from 3rd party services. We do not screen any content manually and cannot guarantee appropriate or legitimate responses for all users.</p>
                <p>As a user of this tool, I understand and will not hold the developer of this tool accountable for any damages that may result from inappropriate results or misinformation.</p>
                <label><input type="checkbox" name="tos" required> I understand and agree to the Terms of Service</label>
            </fieldset>
			<div><input type=submit value=Register></div>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}