<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Recommendation Engine</title>
    </head>
    <body>
        <div id="recommendation-container">
            <h2>Hey {{ name }},</h2>
            <p>I thought you might be interested in this
                <a href="{{ url }}" target="_blank"><span id="content-type">{{ content_type }}</span></a> I found...</p>
            <div id="content-container">
                <div>
                    <h3><a href="{{ url }}" target="_blank"><span id="time-estimate">{{ time_estimate }}</span> <span id="title">{{ title }}</span></a></h3>
                    <p>by <a href="{{ url }}" target="_blank"><span id="author">{{ author }}</span></a></p>
                </div>
                <div id="thumbnail-container">
                    <a href="{{ url }}" target="_blank">
                        <img id="thumbnail" src="{{ thumbnail_url }}" height="{{ thumbnail_height }}" width="{{ thumbnail_width }}">
                    </a>
                </div>
                <div id="description-container">
                    <p>{{ display_description }}</p>
                </div>
                <div id="button-container">
                    <button><i class="thumbs-down"></i> Ehh... Not great</button>
                    <button><i class="thumbs-up"></i> That was interesting!</button>
                </div>
            </div>
        </div>
        <div id="reroll-container">
            <button><i class="die"></i> Give me another!</button>
        </div>
    </body>
</html>